<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head")  %> 
</head>
<body>
    
    <%- include("../partials/nav")  %> 

    <div class="container mt-3">
        <div class="row">
            <div class="col-md-3">
                <%- include("../partials/category-menu", categories)  %> 
            </div>
            <div class="col-md-9">
                <h1 class="h3 mb-3">
                    <%= title %>
                </h1>

                <% blogs.forEach(blog => { %>
                    <%- include("../partials/blog-card", blog)  %> 
                <% }) %>

                <% if (blogs.filter(b => b.onay).length > 3) { %>
                    <%- include("../partials/pagination")  %> 
                <% } %>
             
            </div>
        </div>
    </div>

</body>
</html>



